@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.navbar a:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  background-color: rgb(228, 140, 161);
  color: black;
}
